In [43]:
import numpy as np
import pandas as pd
import requests
import yaml


# SOM ENERGIA API
ENDPOINT_SOMENERGIA = "https://opendata.somenergia.coop/v0.2/"


# List of cities we want to access
cities = ["17114", "17010", "17109", "17133", "17149", "17183", "17162", "17185",
            "17200", "17208", "17139", "17154", "17161", "17165", "17184", "17207", "17021"]

cities_list = []


# List of metrics  we want to access
metrics = ["members", "newmembers", "canceledmembers", "contracts", "newcontracts", "canceledcontracts", "selfconsumptioncontracts",
            "newselfconsumptioncontracts", "canceledselfconsumptioncontracts"]

metrics_list = []

In [44]:
# Construeixo parametres per consultar totes les ciutats de la Garrotxa
params='/by/city/monthly/from/2010-01-01?'
for c in cities:
    params+='&city='+c

In [58]:
# Per cada métrica, get dades aPI 
metrics_list = []
for metric in metrics:
    response = requests.get(ENDPOINT_SOMENERGIA + metric + params)
    print("fet response")
    dades = yaml.safe_load(response.text)
    metrics_list.append(dades['values'])

fet response
fet response
fet response
fet response
fet response
fet response
fet response
fet response
fet response

In [71]:
dates=dades['dates']
df = pd.DataFrame(list(zip(dates, metrics_list[0],metrics_list[1],metrics_list[2],metrics_list[3],metrics_list[4],metrics_list[5],metrics_list[6],metrics_list[7],metrics_list[8])),
                 columns =["Dates","members", "newmembers", "canceledmembers", "contracts", "newcontracts", "canceledcontracts", "selfconsumptioncontracts",
            "newselfconsumptioncontracts", "canceledselfconsumptioncontracts"])
df

,Dates,members,newmembers,canceledmembers,contracts,newcontracts,canceledcontracts,selfconsumptioncontracts,newselfconsumptioncontracts,canceledselfconsumptioncontracts
0,2010-01-01,0,0,0,0,0,0,0,0,0
1,2010-02-01,0,0,0,0,0,0,0,0,0
2,2010-03-01,0,0,0,0,0,0,0,0,0
3,2010-04-01,0,0,0,0,0,0,0,0,0
4,2010-05-01,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
134,2021-03-01,362,7,0,553,10,2,30,3,0
135,2021-04-01,366,5,1,561,14,7,31,1,0
136,2021-05-01,371,5,0,571,11,1,31,0,0
137,2021-06-01,374,3,0,576,8,3,31,0,0
138,2021-07-01,377,3,0,581,13,8,32,1,0